--
-- PostgreSQL database dump
--

\restrict rV7mNugfYP8zL5QxwlJwPoDrF5eCxOkceNSC0CFnEvKWYFCsAvSupTWIDRrLqkZ

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: billingcycle; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.billingcycle AS ENUM (
    'WEEKLY',
    'MONTHLY',
    'SEMESTER'
);


ALTER TYPE public.billingcycle OWNER TO postgres;

--
-- Name: finestatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.finestatus AS ENUM (
    'UNPAID',
    'PAID'
);


ALTER TYPE public.finestatus OWNER TO postgres;

--
-- Name: transactionstatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.transactionstatus AS ENUM (
    'COMPLETED',
    'FAILED',
    'PENDING'
);


ALTER TYPE public.transactionstatus OWNER TO postgres;

--
-- Name: transactiontype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.transactiontype AS ENUM (
    'P2P',
    'VENDOR_PAYMENT',
    'SUB',
    'FINE',
    'FEE',
    'TOP_UP'
);


ALTER TYPE public.transactiontype OWNER TO postgres;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.userrole AS ENUM (
    'STUDENT',
    'VENDOR',
    'ADMIN'
);


ALTER TYPE public.userrole OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_deduct_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_deduct_requests (
    id uuid NOT NULL,
    vendor_id uuid,
    student_id uuid,
    amount double precision NOT NULL,
    reason character varying NOT NULL,
    status character varying,
    created_at timestamp without time zone,
    resolved_at timestamp without time zone,
    resolved_by uuid
);


ALTER TABLE public.admin_deduct_requests OWNER TO postgres;

--
-- Name: fines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fines (
    id uuid NOT NULL,
    user_id uuid,
    reason character varying NOT NULL,
    amount double precision NOT NULL,
    status public.finestatus,
    created_by_admin uuid,
    "timestamp" timestamp without time zone
);


ALTER TABLE public.fines OWNER TO postgres;

--
-- Name: payment_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payment_requests (
    id uuid NOT NULL,
    vendor_id uuid,
    student_id uuid,
    amount double precision NOT NULL,
    description character varying,
    status character varying,
    created_at timestamp without time zone
);


ALTER TABLE public.payment_requests OWNER TO postgres;

--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subscriptions (
    id uuid NOT NULL,
    user_id uuid,
    vendor_id uuid,
    plan_name character varying NOT NULL,
    amount double precision NOT NULL,
    billing_cycle public.billingcycle NOT NULL,
    next_billing_date timestamp without time zone,
    is_active boolean
);


ALTER TABLE public.subscriptions OWNER TO postgres;

--
-- Name: transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.transactions (
    id uuid NOT NULL,
    sender_id uuid,
    receiver_id uuid,
    amount double precision NOT NULL,
    type public.transactiontype NOT NULL,
    status public.transactionstatus NOT NULL,
    "timestamp" timestamp without time zone
);


ALTER TABLE public.transactions OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    password_hash character varying NOT NULL,
    role public.userrole NOT NULL,
    wallet_balance double precision,
    created_at timestamp without time zone,
    student_id character varying
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: vendor_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vendor_profiles (
    id uuid NOT NULL,
    user_id uuid,
    vendor_name character varying NOT NULL,
    vendor_code character varying NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.vendor_profiles OWNER TO postgres;

--
-- Data for Name: admin_deduct_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admin_deduct_requests (id, vendor_id, student_id, amount, reason, status, created_at, resolved_at, resolved_by) FROM stdin;
7032a336-0c34-4a6b-b970-43cc78bec7f1	28c523c6-7661-46e1-98ec-f1637a273671	ae18a1fc-10e4-4301-97b9-5021bf07be40	300	Damges	APPROVED	2026-03-05 21:39:13.804679	2026-03-05 21:39:59.979517	627e7a81-fd64-4db9-b6b2-e1eed851a91b
5747f264-865e-4622-bf4a-408a5e4b7998	28c523c6-7661-46e1-98ec-f1637a273671	ae18a1fc-10e4-4301-97b9-5021bf07be40	600	Late fee	REJECTED	2026-03-05 21:39:36.840548	2026-03-05 21:40:01.625457	627e7a81-fd64-4db9-b6b2-e1eed851a91b
\.


--
-- Data for Name: fines; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: payment_requests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payment_requests (id, vendor_id, student_id, amount, description, status, created_at) FROM stdin;
5940150a-a4b9-40ef-b518-9886b54d7e67	28c523c6-7661-46e1-98ec-f1637a273671	ae18a1fc-10e4-4301-97b9-5021bf07be40	500	Meals	PENDING	2026-03-05 21:38:56.794808
1652505a-95bd-4a9b-b270-e219edf86479	28c523c6-7661-46e1-98ec-f1637a273671	bdd36fd9-0c96-48e7-ad4e-3698a72216b6	150	coffee	PAID	2026-03-06 05:04:24.49945
2b6a904f-a628-4c82-a539-d036d18b462b	28c523c6-7661-46e1-98ec-f1637a273671	bdd36fd9-0c96-48e7-ad4e-3698a72216b6	150	coffee	PAID	2026-03-06 06:44:15.229609
\.


--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: vendor_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.vendor_profiles (id, user_id, vendor_name, vendor_code, created_at) FROM stdin;
91c82018-d56c-43f3-98e6-c27030d2a3a8	2546b8c8-aa7c-4252-b2fe-f25deff62782	Campus Cafe	CAFE01	2026-03-05 21:21:19.327419
33c1456c-9da1-4de7-a45a-68a403f69ff9	28c523c6-7661-46e1-98ec-f1637a273671	Block-1 Canteen	B1-Canteen	2026-03-05 21:35:34.836482
df6258be-d810-41ff-a52f-81b63d1dc4b7	83284dac-0792-4b7c-9cde-e55933ade96d	Test Vendor Business	TV-001	2026-03-06 06:11:55.654674
6a9e8d74-aca6-48af-a71a-7c33e1874325	09a4a70b-1c41-4f6b-9d99-4d10d1c7a33a	B2-Canteen	B2-Canteem	2026-03-06 11:17:22.462204
\.


--
-- Name: admin_deduct_requests admin_deduct_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_deduct_requests
    ADD CONSTRAINT admin_deduct_requests_pkey PRIMARY KEY (id);


--
-- Name: fines fines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fines
    ADD CONSTRAINT fines_pkey PRIMARY KEY (id);


--
-- Name: payment_requests payment_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_requests
    ADD CONSTRAINT payment_requests_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: transactions transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_student_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_student_id_key UNIQUE (student_id);


--
-- Name: vendor_profiles vendor_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendor_profiles
    ADD CONSTRAINT vendor_profiles_pkey PRIMARY KEY (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_vendor_profiles_vendor_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_vendor_profiles_vendor_code ON public.vendor_profiles USING btree (vendor_code);


--
-- Name: admin_deduct_requests admin_deduct_requests_resolved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_deduct_requests
    ADD CONSTRAINT admin_deduct_requests_resolved_by_fkey FOREIGN KEY (resolved_by) REFERENCES public.users(id);


--
-- Name: admin_deduct_requests admin_deduct_requests_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_deduct_requests
    ADD CONSTRAINT admin_deduct_requests_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.users(id);


--
-- Name: admin_deduct_requests admin_deduct_requests_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_deduct_requests
    ADD CONSTRAINT admin_deduct_requests_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.users(id);


--
-- Name: fines fines_created_by_admin_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fines
    ADD CONSTRAINT fines_created_by_admin_fkey FOREIGN KEY (created_by_admin) REFERENCES public.users(id);


--
-- Name: fines fines_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fines
    ADD CONSTRAINT fines_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: payment_requests payment_requests_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_requests
    ADD CONSTRAINT payment_requests_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.users(id);


--
-- Name: payment_requests payment_requests_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment_requests
    ADD CONSTRAINT payment_requests_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.users(id);


--
-- Name: subscriptions subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: subscriptions subscriptions_vendor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_vendor_id_fkey FOREIGN KEY (vendor_id) REFERENCES public.users(id);


--
-- Name: transactions transactions_receiver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_receiver_id_fkey FOREIGN KEY (receiver_id) REFERENCES public.users(id);


--
-- Name: transactions transactions_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.transactions
    ADD CONSTRAINT transactions_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: vendor_profiles vendor_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendor_profiles
    ADD CONSTRAINT vendor_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict rV7mNugfYP8zL5QxwlJwPoDrF5eCxOkceNSC0CFnEvKWYFCsAvSupTWIDRrLqkZ

